$--reset-margin: 0;
$--reset-padding: 0;
$--reset-box-sizing: border-box;
$--reset-font: 'Roboto', sans-serif;

$--theme-primary: #282c34;
$--theme-secondary: #62dafb;

$--app-header-height: 60px;

$--section-background-color: rgb(230, 230, 230);
